In [18]:
import pandas as pd
import os
import json
import pickle
import subprocess

In [19]:
with open('config.json','r') as f:
        config = json.load(f) 

dataset_csv_path = os.path.join(config['output_folder_path']) 
model_path = os.path.join(config['output_model_path'])

In [20]:
X = pd.read_csv(dataset_csv_path + '/finaldata.csv', index_col=0)
y = X.pop("exited")
X.head()

             lastmonth_activity  lastyear_activity  number_of_employees
corporation
nciw                        100               1359                    1
lsid                         68                282                   14
pwls                         71                949                   40
bqlx                        686               3782                  103
zmei                         45                655                    7

In [21]:
os.path.join("A", "B")

'A/B'

In [25]:
outdated_packages = subprocess.check_output(['python', '-m', 'pip', 'list', '--outdated'], 
                                                stderr=subprocess.STDOUT).decode().splitlines()[2:]
    
outdated_packages_df = pd.DataFrame(columns=['Package', 'Version', 'Latest'])
for package in outdated_packages:
    
    package_info = package.split()
    package_name = package_info[0]
    current_version = package_info[1]
    latest_version = package_info[2]
    new_row = pd.DataFrame([[package_info[0], package_info[1],package_info[2]]], 
                            columns=outdated_packages_df.columns)
    outdated_packages_df = pd.concat([outdated_packages_df,new_row], ignore_index=True)
outdated_packages_df.head()

      Package Version  Latest
0     debugpy  1.8.16  1.8.19
1       Flask   2.3.3   3.1.2
2    gunicorn  20.1.0  23.0.0
3  MarkupSafe   2.1.5   3.0.3
4       numpy  1.26.4   2.4.0