In [10]:
import pandas as pd
import os
import json
import pickle

In [11]:
with open('config.json','r') as f:
        config = json.load(f) 

dataset_csv_path = os.path.join(config['output_folder_path']) 
model_path = os.path.join(config['output_model_path'])

In [13]:
X = pd.read_csv(dataset_csv_path + '/finaldata.csv', index_col=0)
y = X.pop("exited")
X.head()

             lastmonth_activity  lastyear_activity  number_of_employees
corporation
nciw                        100               1359                    1
lsid                         68                282                   14
pwls                         71                949                   40
bqlx                        686               3782                  103
zmei                         45                655                    7