In [59]:
import pandas as pd
import os
import json
import pickle
import subprocess
import requests

In [2]:
with open('config.json','r') as f:
        config = json.load(f) 

dataset_csv_path = os.path.join(config['output_folder_path']) 
model_path = os.path.join(config['output_model_path'])

In [3]:
X = pd.read_csv(dataset_csv_path + '/finaldata.csv', index_col=0)
y = X.pop("exited")
X.head()

             lastmonth_activity  lastyear_activity  number_of_employees
corporation
nciw                        100               1359                    1
lsid                         68                282                   14
pwls                         71                949                   40
bqlx                        686               3782                  103
zmei                         45                655                    7

In [4]:
os.path.join("A", "B")

'A/B'

In [5]:
outdated_packages = subprocess.check_output(['python', '-m', 'pip', 'list', '--outdated'], 
                                                stderr=subprocess.STDOUT).decode().splitlines()[2:]
    
outdated_packages_df = pd.DataFrame(columns=['Package', 'Version', 'Latest'])
for package in outdated_packages:
    
    package_info = package.split()
    package_name = package_info[0]
    current_version = package_info[1]
    latest_version = package_info[2]
    new_row = pd.DataFrame([[package_info[0], package_info[1],package_info[2]]], 
                            columns=outdated_packages_df.columns)
    outdated_packages_df = pd.concat([outdated_packages_df,new_row], ignore_index=True)
outdated_packages_df.head()

      Package Version  Latest
0     debugpy  1.8.16  1.8.19
1       Flask   2.3.3   3.1.2
2    gunicorn  20.1.0  23.0.0
3  MarkupSafe   2.1.5   3.0.3
4       numpy  1.26.4   2.4.0

In [6]:
df = pd.read_csv(dataset_csv_path + '/finaldata.csv')
df.head()

,corporation,lastmonth_activity,lastyear_activity,number_of_employees,exited
0,nciw,100,1359,1,0
1,lsid,68,282,14,0
2,pwls,71,949,40,1
3,bqlx,686,3782,103,0
4,zmei,45,655,7,0

In [7]:
X = df[['lastmonth_activity', 'lastyear_activity', 'number_of_employees']]
X.head()

   lastmonth_activity  lastyear_activity  number_of_employees
0                 100               1359                    1
1                  68                282                   14
2                  71                949                   40
3                 686               3782                  103
4                  45                655                    7

In [27]:
dataset_csv_path = os.path.join(config['output_folder_path'], 'finaldata.csv') 
data = pd.read_csv(dataset_csv_path, index_col=0)
data = data.drop(['exited'], axis=1)
means_array= data.mean(axis=0, numeric_only=True)
medians_array= data.median(axis=0, numeric_only=True)
std_array= data.std(axis=0, numeric_only=True)

In [37]:
stat_dict = {}
for idx, column_name in enumerate(means_array.index):
    stat_dict[column_name] = {"mean": means_array[idx], 
                              "median": medians_array[idx], 
                              "std": std_array[idx]}

In [38]:
stat_dict

{'lastmonth_activity': {'mean': 165.65384615384616,
  'median': 73.0,
  'std': 284.0332293669447},
 'lastyear_activity': {'mean': 1502.923076923077,
  'median': 955.0,
  'std': 2192.6449584568304},
 'number_of_employees': {'mean': 26.884615384615383,
  'median': 14.0,
  'std': 31.353885785435814}}

In [45]:
missing_data_array = data.isna().sum()/len(data)*100
    
missing_data_dict = {}
for column_name, value in missing_data_array.items():
    missing_data_dict[column_name] = value
missing_data_dict

{'lastmonth_activity': 0.0,
 'lastyear_activity': 0.0,
 'number_of_employees': 0.0}

In [46]:
outdated_packages = subprocess.check_output(['python', '-m', 'pip', 'list', '--outdated'], 
                                                stderr=subprocess.STDOUT).decode().splitlines()[2:]

In [49]:
list_outdated_packages = {}
for package in outdated_packages:
    package_info = package.split()
    #list_outdated_packages += [package_info[0], package_info[1],package_info[2]]
    list_outdated_packages[package_info[0]] = {"version": package_info[1], "latest": package_info[2]}
list_outdated_packages

{'debugpy': {'version': '1.8.16', 'latest': '1.8.19'},
 'Flask': {'version': '2.3.3', 'latest': '3.1.2'},
 'gunicorn': {'version': '20.1.0', 'latest': '23.0.0'},
 'MarkupSafe': {'version': '2.1.5', 'latest': '3.0.3'},
 'numpy': {'version': '1.26.4', 'latest': '2.4.0'},
 'pandas': {'version': '1.5.3', 'latest': '2.3.3'},
 'pillow': {'version': '10.4.0', 'latest': '12.1.0'},
 'psutil': {'version': '7.0.0', 'latest': '7.2.1'},
 'pytz': {'version': '2023.4', 'latest': '2025.2'},
 'Werkzeug': {'version': '2.3.8', 'latest': '3.1.4'}}

In [58]:
X = pd.read_csv(os.path.join(config['test_data_path'], 'testdata.csv'), index_col=0)
y = X.pop("exited").values
display(X.head())
y

             lastmonth_activity  lastyear_activity  number_of_employees
corporation
werf                        234                  3                   10
sdfv                         14               2145                   99
edcv                         34                333                 1000
uhgr                        101              12346                    2
okjh                          0                675                   25

array([1, 0, 0, 1, 1])

In [54]:
y.values

array([1, 0, 0, 1, 1])

In [52]:
y.head()

corporation
werf    1
sdfv    0
edcv    0
uhgr    1
okjh    1
Name: exited, dtype: int64

In [60]:
response1 = requests.get('http://127.0.0.1:8000/prediction?filename=testdata/testdata.csv')

In [65]:
response1.text

'[0 1 1 1 1]'